# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.01_Cars.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\arman\Documents\Developer\Unity\01_Cars\.idea\.idea.01_Cars\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
